.works{
    background-color: white;

    img{
        margin-left: 300px;
    }

    h1{
        position: relative;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 25px;
        padding-left: 100px;
        padding-right: 100px;
        line-height: 1.7;
    }
}